.outer {
  color: blue;
  text-align: center;

  margin: auto;
  padding: 10px;
}
.head {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  color: #ff5733;
}

h2 {
  color: #1e90ff;
  margin-top: 20px;
}

ol {
  text-align: left;
  padding-left: 20px;
}

li {
  margin: 10px 0;
}

input[type="button"] {
  background-color: gray;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: rgb(42, 41, 41);
}

/* Styling for disabled radio buttons */
input[type="button"]:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.table_center {
  display: inline-block;
}

.table1 {
  float: left;
  height: 600px;
  width: 350px;
  background-color: lightyellow;
  margin-top: 100px;
  border-radius: 50px;
  border: double;
  border-color: coral;
  color: red;
}

.table2 {
  float: left;
  height: 600px;
  width: 350px;
  background-color: lightyellow;
  margin-top: 100px;
  border-radius: 50px;
  border: double;
  border-color: blue;
}

hr {
  border-color: black;
}

input[type="radio"] {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input:focus {
  background: black;
  color: white;
}

input[type="radio"] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background-color: transparent; /* Transparent background */
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #3498db;
  transition: all 0.3s ease-in-out;
}

input[type="radio"]:focus {
  background: transparent;
  color: #333; /* Dark text color */
}

/* Add animation for input[type=radio] */
@keyframes radioBounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

input[type="radio"]:checked {
  animation: radioBounce 0.5s;
}
